apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "isoboot.fullname" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "isoboot.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "isoboot.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        {{- include "isoboot.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: manager
        command:
        - /manager
        args:
        - --leader-elect={{ .Values.manager.leaderElect }}
        - --health-probe-bind-address={{ .Values.manager.healthProbeBindAddress }}
        - --metrics-bind-address={{ .Values.manager.metricsBindAddress }}
        - --node-name={{ required "isoboot.http.nodeName is required" .Values.isoboot.http.nodeName }}
        - --subnet-cidr={{ required "isoboot.http.cidr is required" .Values.isoboot.http.cidr }}
        image: "{{ .Values.manager.image.repository }}:{{ .Values.manager.image.tag }}"
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.manager.resources | nindent 10 }}
      serviceAccountName: {{ include "isoboot.fullname" . }}-controller-manager
      terminationGracePeriodSeconds: 10
