---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - boot.isoboot.github.io
  resources:
  - networkboots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - boot.isoboot.github.io
  resources:
  - networkboots/finalizers
  verbs:
  - update
- apiGroups:
  - boot.isoboot.github.io
  resources:
  - networkboots/status
  verbs:
  - get
  - patch
  - update
