name: Helm

on:
  push:
  pull_request:

jobs:
  helm-lint:
    name: Lint Chart
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Run helm lint
        run: make helm-lint

  helm-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Cache tool binaries
        uses: actions/cache@v4
        with:
          path: bin
          key: tools-${{ runner.os }}-helm-unittest-${{ hashFiles('Makefile') }}

      - name: Run helm unit tests
        run: make helm-test

  helm-test-e2e:
    name: E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup Helm
        uses: azure/setup-helm@v4

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-$(go env GOARCH)
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Run helm E2E tests
        run: make helm-test-e2e
